
  <div class=" primary py-5  hero-header" style="background-color: #7AB730; "  >
    <div class="container py-3"style="margin-top: 5%; " >
       
            
        <h2 class="display-1 text-center text-dark mb-lg-4 Optima, sans-serif"  style="font-weight: bold" >Cadastro de Pets</h2>
  
              
           
      
    </div>
  
<div class="container">       
<form [formGroup]="formulario" (submit)="cadastro()">

  <div class="form-group mt-3" style="font-weight: bold">
      <label for="">endereço da Imagem: </label>
      <input class="form-control" type="url" placeholder="http://..." formControlName="img">
         </div>
  
  
  <div class="form-group mt-3" style="font-weight: bold">
      <label for="">Informe o nome: </label>
      <input class="form-control" type="text" placeholder="nome" formControlName="nome">
  </div>

  <div class="form-group mt-3" style="font-weight: bold">
    <label for="">Informe a Raça: </label>
    <input class="form-control" type="text" placeholder="Raça" formControlName="raca">
    
</div>

<div class="form-group mt-3" style="font-weight: bold">
    <label for="">Informe a Idade: </label>
    <input class="form-control" type="text" placeholder="idade + meses" formControlName="idade">
    
</div>

<div class="form-group mt-3" style="font-weight: bold">
  <label for="">Informe o telefone: </label>
  <input class="form-control" type="text" placeholder="DDD + Número" formControlName="fone">
  
</div>

<div class="form-group mt-3" style="font-weight: bold">

  <label for="">Informe a cidade: </label>
  <input class="form-control" type="text" placeholder="cidade" formControlName="cidade">
 
</div>
  <br>
    <button class="btn btn-primary mt-3"  style="background-color:black; margin-left: 93%; border-color: #7AB730; color: white" [disabled]="!formulario.valid" type="submit">{{ nameButton }}</button>
    
   
</form>
</div>

</div>



     
<div class="container-fluid bg-dark text-white-50 py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white" href="#">Cãopanhia</a>. All Rights Reserved.</p>
     <br>
                <p class="mb-0">Designed by <a class="text-white" href="">Renan Galdina</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->





<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
